:root {
  --bone: #f2f2f2;
  --gray01: #cccccc;
  --gray02: #aaaaaa;
  --gray04: #363636;
  --gray05: #222222;
  --gray06: #181818;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray06);
  font-size: 16px;
}

h1 {
  color: var(--gray01);
  font-size: 1.5em;
  margin-right: 16px;
}

h2 {
  padding: 16px;
  font-size: 1.25em;
}

header {
  background-color: var(--gray05);
  border-bottom: 1px solid var(--gray04);
  padding: 16px;
  display: flex;
}

#results-wrapper {
  display: none;
  width: 500px;
  border-radius: 4px;
  padding: 16px 0;
  background-color: white;
  position: absolute;
  transform: translateY(calc(+8px));
}

#results-wrapper ul {
  list-style: none;
}

#results-wrapper li {
  padding: 8px 16px;
  color: var(--gray04);
}

#results-wrapper li:hover {
  background-color: var(--bone);
}

#results-wrapper li strong {
  font-weight: 900;
}

.autocomplete-wrapper {
  box-sizing: border-box;
}

.autocomplete-wrapper input {
  width: 300px;
}

.divider {
  height: 1px;
  width: calc(100% - 10px);
  margin: 16 5px;
  background-color: var(--gray04);
}
